<h3 style="color:black">Topics</h3>
<button (click)="onClickAllTopic()">...</button>
<button (click)="onClickRandomTopic()">Ein zufälliges Thema</button>
<hr>
<hr>
<h3 style="color:green">Tools</h3>
<button (click)="onClickAllTools()">...</button>
<button (click)="onClickRandomTools()">Ein zufälliges Tool</button>
<hr>
<h3 style="color:blue">Languages & Frameworks</h3>
<button (click)="onClickAllLanguagesFrameworks()">...</button>
<button (click)="onClickRandomLanguagesFrameworks()">Ein zufälliges Language/Framework</button>
<hr>
<h3 style="color:orangered">Platforms</h3>
<button (click)="onClickAllPlatforms()">...</button>
<button (click)="onClickRandomPlatforms()">Ein zufälliges Platform</button>
<hr>
<h3 style="color:purple">Techniques</h3>
<button (click)="onClickAllTechniques()">...</button>
<button (click)="onClickRandomTechniques()">Ein zufälliges Technique</button>

<hr>
<b>{{clickMessage}}</b>
