<p>Topics</p>
<button (click)="onClickTopic()">Get random Topic</button>

<hr>
<p>Tools</p>
<button (click)="onClickTools()">Get random Tool</button>
<hr>
<p>Languages & Frameworks</p>
<button (click)="onClickLanguagesFrameworks()">Get random Language/Framework</button>
<hr>
<p>Platforms</p>
<button (click)="onClickPlatforms()">Get random Platform</button>
<hr>
<p>Techniques</p>
<button (click)="onClickTechniques()">Get random Technique</button>

<hr>
<b style="font-size: 40px">{{clickMessage}}</b>
